{% extends 'base.html' %}
{% block main %}
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Товар</th>
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					<th>{{ row.id }}</th>
					<td>{{ row.name }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="row">
	<form method="post">
		<div class="col-lg-2">
			<div class="form-group">
				<input name="prodName" type="text" class="form-control" placeholder="Товар">
			</div>
		</div>
		<div class="col-lg-2">
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Добавить">
			</div>
		</div>
	</form>
</div>
{% endblock %}